* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
nav {
	background: #00f7ff;
	height: 80px;
	width: 100%;
}

nav ul {
	float: left;
	margin-right: 10px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a {
	color: rgb(255, 255, 255);
	font-size: 16px;
	padding: 7px 13px;
	border-radius: 5px;
	text-transform: uppercase;
}
a:active,
a:hover {
	background: #2fe60a;
	transition: 0.5s;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	margin-top: 15px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
/* @media (max-width: 952px) {
    label.logo {
        font-size: 20px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
} */
@media (max-width: 1421px) {
	.checkbtn {
		display: block;
		float: left;
		margin-left: 10px;
	}
	ul {
		position: fixed;
		width: 100%;
		/* height: 75vh; */
		background: #a81acc;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all 0.75s;
		opacity: 0.75;
	}
	nav ul li {
		display: block;
		margin: 10px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 18px;
	}
	a:hover,
	a.active {
		background: none;
		color: #00dee6;
	}
	#check:checked ~ ul {
		left: 0;
	}
}

/* burger button */

.menu-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	border: 3px solid #fff;
}
.menu-btn__burger {
	width: 40px;
	height: 5px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
	transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
	content: "";
	position: absolute;
	width: 40px;
	height: 5px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
	transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
	transform: translateY(-16px);
}
.menu-btn__burger::after {
	transform: translateY(16px);
}
.menu-btn.open .menu-btn__burger {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
	transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}

/* photo section */

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

	min-height: 100vh;
	grid-gap: 1rem;
}

.img-container {
	overflow: hidden;
}

.img-container img {
	/* margin: 10px; */
	width: 100%;
	height: 35%;
	object-fit: cover;
	transition: all 0.3s ease-out;
	cursor: pointer;
}

.img-container img:hover {
	transform: scale(1.2);
}

.modal {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
}

.modal.open {
	opacity: 1;
	pointer-events: all;
}

.full-img {
	position: absolute;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.5);
	transition: all 0.25s ease-out;
}

.full-img.open {
	transform: translate(-50%, -50%) scale(1);
}

.modal p {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2rem;
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, -5%);
}
